/* Generated eww SCSS template for pywal integration */
/* This file will be processed by apply_wal_outputs.sh */

* {
    all: unset;
    font-family:
        "Symbols Nerd Font", "Symbols Nerd Font Mono",
        "JetBrainsMono Nerd Font", "JetBrainsMono Nerd Font Mono",
        "DejaVu Sans", "Noto Sans", sans-serif;
}

.batico-main,
.cpuico,
.ramico,
.diskico,
.mico {
    font-family:
        "JetBrainsMono Nerd Font", "Symbols Nerd Font",
        "Symbols Nerd Font Mono", sans-serif;
}

.bar{
  box-shadow: 0 2px 3px 1px rgba(18,21,30,0.9);
  border-radius: 0px;
  background-color: rgba(18,21,30, 1);
  padding: 5px;
  margin:0;
  border: 2px solid rgba(244,205,174, 0.5);
}



.power{
  margin-right:10px;
}

.power-eventbox{
  color:#446576;
  font-weight:bold;
  font-size:20px;
  font-family: "JetBrainsMono Nerd Font";
  transition: color 0.3s;
  &:hover{
    color:#c55007;
  }
}

.ws{
  font-family: "JetBrainsMono Nerd Font";
  font-size: 26px;
  color: #f4cdae;
  margin-left: 12px;
}

.div{
  font-size:25px;
  font-weight:100;
  color:rgba(244,205,174,0.3);
}

.free{
  opacity:0.2;
  transition: opacity 0.3s;
  &:hover{
    opacity:1;
  }
}

.visiting{
  opacity:1;
  color: #ffffff;
  font-weight: bold;
  transition: opacity 0.3s;
  &:hover{
    opacity:1;
  }
}

.occupied{
  opacity:0.8;
  transition: opacity 0.3s;
  &:hover{
    opacity:1;
  }
}

.time-label{
  background-color:rgba(18,21,30,0.38);
  color:#c7681f;
  border-radius:20px;
  transition: color 0.3s;
  transition: background-color 0.3s;
  &:hover{
    color:#f4cdae;
    background-color:#c7681f;
  }
}

.volume-short, .ram-short{
  background-color:rgba(18,21,30,0.38);
  padding:0px 13px;
  border-radius:20px;
  font-size:15px;
  margin:3px 0px;
}

.battery{
  background-color:rgba(18,21,30,0.38);
  padding:0px 18px;
  border-radius:20px;
  font-size:15px;
  margin:0px 0px;
}

.volume-short{
  color: #687992;
}

.ram-short{
  color: #5061a2;
}

.ram-icon{
  font-family: "JetBrainsMono Nerd Font";
  margin-right: 3px;
  padding: 2px 2 2 0;
}

.wifi-div{
  margin:0px 3px;
}

.wifi-type{
  color:#f4cdae;
}

.tray-button{
  font-size:20px;
  font-family:"JetBrainsMono Nerd Font";
  color: #f4cdae;
  border-radius:10px;
  transition: background-color 0.6s;
  &:hover{
    background-color:rgba(18,21,30,0.38);
  }
}

.systray-shadow{
  background-color:rgba(18,21,30,0.38);
  margin-right:5px;
  margin-top:3px;
  margin-bottom:3px;
  padding:0px 8px;
  border-radius:20px;
}

image{
  margin: 0px 3px;
}

menu {
  border-radius:15px;
  padding: 10px;
  background-color: #446576;
  color:#f4cdae;
  background-color: rgba(18,21,30,0.68);
  menuitem {
    border-radius: 10px;
    padding: 8px 12px;
  }
  menuitem:hover {
    background-color: rgba(80,97,162,0.85);
  }
}

.tray-text{
  margin-bottom:4px;
}

.wifi{
  font-family: "JetBrainsMono Nerd Font";
  background-color:rgba(18,21,30,0.38);
  padding-left: 13px;
  padding-right: 13px;
  color:#c55007;
  border-radius:20px;
  font-size:11px;
  margin:3px 0px;
}

.space-wifi{
  font-size:4px;
}

.wifictl-container{
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.7);
  margin:5.5px;
  border-radius: 20px;
  min-width:385px;
  background-color: rgba(18,21,30,0.92);
  padding: 5px;
}

.wifi-header{
  font-size:25px;
  margin-left:15px;
  margin-top:10px;
  margin-bottom:7px;
  color:#5061a2;
}

.wifi-stats{
  color: #f4cdae;
  margin-left:15px;
}

.nocon{
  color:#446576;
}

.yescon{
  color: #406d7b;
}

.network-container{
  min-height:15rem;
  margin:7px;
  margin-top:17px;
  border-radius:15px;
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.9);
  background-color:rgba(18,21,30,0.28);
}

.wifi-option-box{
  font-size:16px;
  margin:5px 5px;
  border-radius:15px;
  padding:10px;
  background-color:rgba(80,69,64,0.3);
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.9);
}

.wifi-ssid{
  margin:2px 15px;
}

.wifi-ssid-01{
  color: #f4cdae;
}

.wifi-ssid-02{
  color: #5061a2;
}

.wifi-ssid-03{
  color: #406d7b;
}

.wifi-buttons{
  color: #f4cdae;
  border-radius:10px;
  background-color: rgba(18,21,30,0.52);
}

.wifi-bcon{
  margin:10px;
}

.iwifi{
  margin-top:2px;
  margin-left:10px;
}

.swifi-header{
  font-size:15px;
  margin-left:15px;
  margin-top:10px;
  margin-bottom:7px;
  color: #f4cdae;
}

.calendar-container{
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.7);
  margin:5.5px;
  margin-bottom:10px;
  border-radius: 20px;
  background-color: rgba(18,21,30,0.92);
  padding: 5px;
}

.time-box{
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.7);
  border-radius:15px;
  margin-top:8px;
  padding-left:25px;
  padding-right:25px;
  padding-bottom:20px;
  background-color:rgba(18,21,30,0.28);
}

.time-inner{
  color:#5061a2;
  font-size:50px;
  margin-left:4px;
  margin-top:10px;
}

.date-inner{
  color:#f4cdae;
  margin-top:20px;
  font-size:18px;
}

.calendar-box{
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.9);
  border-radius:15px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:9px;
  background-color:rgba(18,21,30,0.28);
}

.cal{
  padding:5px;
  color:#f4cdae;
  &.header{
    color:#c55007;
  }
  &.button{
    color:#c55007;
    &:hover{
      color:#446576;
    }
  }
  &:indeterminate{
    color:rgba(244,205,174,0.4);
  }
  &.highlight{
    color:#c55007;
  }
}

.main-container, .music-container{
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.7);
  margin:5.5px;
  border-radius: 20px;
  min-width:385px;
  background-color: rgba(18,21,30,0.92);
  padding: 5px;
}

.profile,.graph-container{
  min-width:370px;
  margin:0px 7px;
  margin-top:5px;
  padding:10px;
  border-radius:15px;
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.9);
  background-color:rgba(18,21,30,0.28);
}



.pfp{
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.9);
  background-image: url('./warre.jpg');
  background-size: 90px;
  background-position: 50% 35%;
  background-repeat:no-repeat;
  min-height: 90px;
  min-width: 90px;
  border-radius: 100%;
  margin-right:20px;
}

.username{
  font-size:30px;
  color:#5061a2;
}

.uptime{
  color:#f4cdae;
}



.ctlpanel{
  min-width:230px;
  margin-top:10px;
  border-radius:20px;
  padding:5px;
  background-color:rgba(80,69,64,0.3);
  font-family: "JetBrainsMono Nerd Font";
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.9);
}

.shutdown{
  color:#446576;
  transition:color 0.3s;
  &:hover{
    color:#446576;
  }
}

.logout{
  color:#c55007;
  transition:color 0.3s;
  &:hover{
    color:#c55007;
  }
}

.lockscr{
  color:#5061a2;
  transition:color 0.3s;
  &:hover{
    color:#5061a2;
  }
}

.reboot{
  color:#687992;
  transition: color 0.3s;
  &:hover{
    color:#687992;
  }
}

.suspend{
  color:#c7681f;
  transition:color 0.3s;
  &:hover{
    color:#c7681f;
  }
}

.hibernate {
  color: #c7681f;
  transition: color 0.3s;
  &:hover {
    color: #c7681f;
  }
}

tooltip{
  padding:10px;
  border-radius:20px;
  background-color: rgba(18,21,30,0.75);
}

.sysctl{
  margin:0px 7px;
  margin-top:17px;
  padding:10px;
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.9);
  background-color:rgba(18,21,30,0.28);
  min-width:370px;
  border-radius:15px;
}

.BAT1, .BAT2, .BAT3{
  color: #406d7b;
}

.BAT4, .BAT5{
  color:#446576;
}

.CHARGING{
  color: #c55007;
}

.batico-main{
  margin-left:10px;
  margin-right:15px;
  font-size:50px;
}

.batico-short{
  font-family: "JetBrainsMono Nerd Font";
  margin-right:3px;
  padding: 2px 0 0 0;
}

.volume-icon{
  font-family: "JetBrainsMono Nerd Font";
  color:#687992;
  margin-right: 3px;
  padding: 2px 2 2 0 ;
}

.volico{
  color:#687992;
  margin-right: 3px;
}

.bsht{
  color: #f4cdae;
  margin-left: 3px;
}

.bat-percent{
  font-size:20px;
  color:#f4cdae;
}

.bat-status{
  color:rgba(244,205,174,0.5)
}

.bat-btn{
  font-size:13px;
}

.divider-h{
  min-height:3px;
  margin:15px 5px;
  background-color:#12151e;
}

.sys{
  margin:0px 10px;
}

.cpu-box, .ram-box, .disk-box{
  margin:0px 10px;
  border-radius:15px;
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.9);
  background-color:rgba(80,69,64,0.3);
}

.cpu, .ram, .disk{
  border-radius:100px;
  margin-top:20px;
}
.cpu, .cpu01{ color: #446576;}
.ram, .ram01{ color: #5061a2; }
.disk, .disk01{ color: #406d7b; }
.cpu02, .ram02, .disk02{ color: #f4cdae; }

.ramico, .diskico, .cpuico{
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size:20px;
}

.cpuico{
  margin-left:20px;
}

.ramico, .diskico{
  margin-left:25px;
}

.cpu, .ram, .disk{
  background-color:#12151e;
}

.cpu-text, .ram-text, .disk-text{
  margin-bottom:10px;
}

.ram-text, .disk-text{
  margin-top:3.2px;
}

.sliderctl{
  border-radius:15px;
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.9);
  background-color:rgba(80,69,64,0.3);
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:10px;
}

.monitor-container{
  margin-bottom:6px;
}

.volume-slider{
  margin-top:10px;
  margin-left:13px;
}

.light-slider{
  margin-bottom:10px;
  margin-left:13px;
}

.vol trough {
  all: unset;
  background-color: rgba(18,21,30,0.3);
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.3);
  border-radius: 50px;
  min-height: 10px;
  min-width: 250px;
  margin: 0 20px 0 20px;
}

.vol trough highlight {
  all: unset;
  background-color:#687992;
  border-radius: 10px;
}

.volume-slider,.volume-short{
  color:#687992;
}

.lig trough {
  all: unset;
  background-color: rgba(18,21,30,0.3);
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.3);
  border-radius: 50px;
  min-height: 10px;
  min-width: 250px;
  margin: 0 20px 0 20px;
}

.lig trough highlight {
  all: unset;
  background-color:#c55007;
  border-radius: 10px;
}

.light-slider{
  color:#c55007;
}

.clear-container{
  margin:6px 10px;
}

.nheader{
  font-size:20px;
  color:#f4cdae;
}

.clear{
  color:#446576;
  font-size:30px;
  transition: color 0.3s;
  &:hover{
    color:#c55007;
  }
}

.music-title{
  margin-left:7px;
  margin-right:7px;
  margin-top:7px;
}

.music-thumbnail{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 6rem;
    min-width: 6rem;
    border-radius: 1rem;
}

.app-ico{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 2.5rem;
    min-width: 2.5rem;
}

.main-title{
  margin-top:15px;
  margin-bottom:12px;
  margin-left:15px;
  font-size:20px;
  color: #5061a2;
}

.artist{
  color: #f4cdae;
  font-size:13px;
  margin-left:15px;
}

.music-slider{
  margin-top:10px;
}

.music-slider trough {
  all: unset;
  background-color: rgba(18,21,30,0.3);
  box-shadow: 0 2px 3px 2px rgba(18,21,30,0.3);
  border-radius: 50px;
  min-height: 5px;
  min-width: 270px;
  margin: 0 20px 0 20px;
}

.music-slider trough highlight {
  all: unset;
  background-color:#5061a2;
  border-radius: 10px;
}

.music-timer{
  color: #f4cdae;
  margin:3px 20px;
}

.mico{
  font-size:30px;
  margin-left:10px;
  transition:color 0.3s;
  &:hover{
    color:#5061a2;
  }
}

.vol-mini trough {
  all: unset;
  margin-left:7px;
  background-color: rgba(80,69,64,0.4);
  border-radius: 50px;
  min-height: 5px;
  min-width: 100px;
}

.vol-mini trough highlight {
  all: unset;
  background-color:#687992;
  border-radius: 10px;
}
