# Ignore everything
*
# Do not ignore the following folders and their subfolders
!.gitignore
!hypr/
!hypr/**/*
!alacritty/
!alacritty/**/*
!btop/
!btop/**/*
!fastfetch/
!fastfetch/**/*
!ghostty/
!ghostty/**/*
!rofi/
!rofi/**/*
!rog/
!rog/**/*
!swaylock/
!swaylock/**/*
!swaync/
!swaync/**/*
!waybar/
!waybar/**/*
!wlogout/
!wlogout/**/*
!wofi/
!wofi/**/*

!*.log
!*.swp
!*~
!.DS_Store
!.env
!*.key
!*.pem
!*.crt
!*.p12
!*.pfx
!*.key
!*.pem
!*.crt
!*.p12
!*.pfx
!.ssh/
!.gnupg/





