configuration {
    show-icons: true;
    icon-theme: "Papirus";
}

* {
    background: rgba(24,21,14, 1.00);
    foreground: #dbded4;
    selected: #8c804c;
    background-alt: rgba(109,105,63, 1.00);

    border: 0;
    margin: 0;
    padding: 0;
    spacing: 0;

    background-color: @background;
    font: "Bitstream Vera Sans Mono 10";
}

window {
    width: 48%;
    height: 60%;
    background-color: @background;
    border-radius: 0px;
}

mainbox {
    children: [ inputbar, listview ];
    padding: 8px;
}

inputbar {
    children: [ prompt, entry ];
    background-color: @background;
    padding: 6px 8px;
    margin: 0px 0px 8px 0px;
    border-radius: 0px;
}

prompt {
    enabled: true;
    padding: 4px 8px;
    background-color: transparent;
    text-color: @foreground;
}

entry {
    background-color: transparent;
    text-color: @foreground;
    placeholder-color: @background; /* Note: This uses the @background variable defined above */
    expand: true;
    horizontal-align: 0;
    placeholder: "Type to search...";
    padding: 6px 8px;
    border-radius: 0px;
}

listview {
    columns: 5;
    lines: 4;
    cycle: false;
    dynamic: true;
    layout: vertical;
    scrollbar: false;
    spacing: 6px;
    fixed-height: true;
    fixed-columns: true;
}

element {
    orientation: vertical;
    padding: 2px;
    border-radius: 0px;
}

element normal.normal {
    background-color: transparent;
    text-color: transparent;
}

element selected.normal {
    background-color: @background-alt; /* Uses @background-alt variable */
    text-color: transparent;
}

element-icon {
    size: 96px;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    border-radius: 0px;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    text-color: @foreground;
    background-color: transparent;
    font: "Bitstream Vera Sans Mono 9";
    padding: 4px 0 0 0;
}
