/* Pywal-compatible retro Waybar template. */

* {
  border: none;
  border-radius: 0;
  box-shadow: none;
  min-height: 0;
  font-family: "Bitstream Vera Sans Mono", "Noto Sans Mono", "monospace";
  font-size: 12px;
  font-weight: normal;
  text-shadow: none;
  transition: none;
}

window#waybar {
  background: #161918;
  color: #e4e0e2;
  border-bottom: 1px solid #555861;
}

#custom-separator {
  color: #555861;
  background: transparent;
  padding: 0 5px;
  margin: 0;
}

#clock,
#network,
#custom-power,
#custom-system-stats,
#battery,
#custom-volume,
#custom-brightness,
#custom-asus-profile,
#custom-kb-layout,
#custom-screenrecording-indicator,
#custom-display-mode,
#custom-tray-toggle,
#custom-kbd-brightness {
  background: transparent;
  color: #e4e0e2;
  padding: 0 7px;
  margin: 0;
}

#clock {
  color: #a08a8a;
}

#custom-asus-profile,
#custom-kb-layout,
#custom-display-mode {
  color: #9e9297;
}

#custom-tray-toggle {
  color: #9e9297;
  padding: 0 7px;
}

#custom-tray-toggle:hover {
  color: #e4e0e2;
  background: #555861;
}

#tray {
  background: transparent;
  padding: 0 7px 0 2px;
  margin: 0;
}

#tray > .passive {
  opacity: 0.65;
}

#tray > .needs-attention {
  background: #555861;
}

#network,
#custom-volume,
#battery {
  color: #e4e0e2;
}

#network.disconnected,
#custom-volume.muted,
#battery.warning {
  color: #8f8f96;
}

#battery.critical,
#custom-screenrecording-indicator.recording {
  color: #727076;
  font-weight: bold;
}

#workspaces {
  background: transparent;
  padding: 0;
  margin: 0;
}

#workspaces button {
  background: transparent;
  color: #555861;
  padding: 0 5px;
  margin: 0;
  border: none;
}

#workspaces button.active {
  color: #161918;
  background: #a08a8a;
}

#workspaces button:hover {
  color: #e4e0e2;
  background: #555861;
}

tooltip {
  background: #161918;
  border: 1px solid #555861;
  border-radius: 0;
  color: #e4e0e2;
  padding: 8px 10px;
}

tooltip label {
  color: #e4e0e2;
}
