* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(26,27,38, 0.9); /* Was BG_RGB */
}

button {
    border-radius: 8px;
    border-color: rgba(158,206,106, 0.4); /* Was COLOR_2_RGB */
    text-decoration-color: rgb(192,202,245); /* Was COLOR_7_RGB */
    color: rgb(192,202,245); /* Was COLOR_7_RGB */
    background-color: rgba(26,27,38, 0.7); /* Was BG_RGB */
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 5px;
    transition: all 0.15s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: rgba(158,206,106, 0.7); /* Was COLOR_2_RGB */
    border-color: rgba(158,206,106, 0.8); /* Was COLOR_2_RGB */
    outline-style: none;
}

/* Reference locally generated SVG icons */
#lock {
    background-image: image(url("/home/warre/.config/wlogout/icons/lock.svg"));
}

#logout {
    background-image: image(url("/home/warre/.config/wlogout/icons/logout.svg"));
}

#suspend {
    background-image: image(url("/home/warre/.config/wlogout/icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("/home/warre/.config/wlogout/icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/home/warre/.config/wlogout/icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("/home/warre/.config/wlogout/icons/reboot.svg"));
} 